@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Ubuntu:wght@400;500;700&display=swap");
button {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
}

.footer-top__title, .footer-top__link {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 400;
}

.card__subtitle, .price__title, .price__subtitle, .price__pricing {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 500;
}

.title, .header-content__title, .about__number, .service__title, .service__info-title, .card__title, .card__info-title, .price__card-title {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 700;
}

.about__text {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 700;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

* {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 400;
}

body {
  background: #040f28;
}

a {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #646464;
}

button {
  padding: 0;
  margin: 0;
  cursor: pointer;
  border: none;
  border-radius: 87px;
  font-size: 16px;
  padding: 16px 32px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

button::before {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 0;
  background: -webkit-gradient(linear, left top, right top, from(#94525c), color-stop(#14aad7), to(cyan));
  background: linear-gradient(to right, #94525c, #14aad7, cyan);
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  z-index: -1;
}

button:hover::before {
  width: 100%;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  min-height: 100vh;
}

.header-nav {
  padding: 56px 0 60px;
}

.header-nav__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav__list, .header-nav__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav__list {
  gap: 0 50px;
}

.header-nav__link {
  position: relative;
  -webkit-transition: all 0.6s ease-in;
  transition: all 0.6s ease-in;
}

.header-nav__link::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: -3px;
  height: 2px;
  width: 0;
  background: crimson;
  -webkit-transition: all 0.6s ease-in;
  transition: all 0.6s ease-in;
}

.header-nav__link:hover::before {
  width: 100%;
}

.header-nav__register {
  margin-left: 50px;
  border: 2px solid #c4c4c4;
  line-height: 21px;
  color: #fff;
  background: transparent;
}

.header-nav__menu {
  width: 45px;
  height: 35px;
  position: relative;
  cursor: pointer;
  display: none;
}

.header-nav__menu span {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 4px;
  width: 100%;
  background: #fff;
}

.header-nav__span {
  display: inline-block;
  border-radius: 4px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.header-nav__span:nth-child(2), .header-nav__span:nth-child(3) {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header-nav__span:last-child {
  bottom: 0;
  margin-top: auto;
}

.header-nav__menu--show .header-nav__span:first-child,
.header-nav__menu--show .header-nav__span:last-child {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.header-nav__menu--show .header-nav__span:nth-child(2) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header-nav__menu--show .header-nav__span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header-content__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-content__info {
  max-width: 500px;
}

.header-content__title {
  font-size: 56px;
  line-height: 74px;
  text-transform: capitalize;
  color: #c4c4c4;
  margin-bottom: 20px;
}

.header-content__text {
  font-size: 16px;
  line-height: 32px;
  color: #646464;
  margin-bottom: 40px;
}

.header-content__started {
  background: #fc3867;
  line-height: 180%;
  color: #fff;
}

.about {
  background: #fff;
  padding: 90px 0 85px;
}

.about__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__item {
  max-width: 355px;
  width: 100%;
  text-align: center;
  letter-spacing: -0.005em;
  color: #070707;
  position: relative;
}

.about__item::after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  bottom: 0;
  width: 1px;
  height: 100%;
  background: #d8d8d8;
}

.about__item:last-child::after {
  content: none;
}

.about__number {
  font-size: 64px;
  line-height: 74px;
  margin-bottom: 16px;
}

.about__text {
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 8px;
}

.about__span {
  font-size: 16px;
  line-height: 21px;
  color: #c4c4c4;
}

.service {
  padding: 150px 0 55px;
  color: #fff;
}

.service__span {
  display: block;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.service__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 56px;
}

.service__title {
  max-width: 477px;
  font-size: 40px;
  line-height: 60px;
  letter-spacing: -0.5px;
  text-transform: capitalize;
}

.service__description {
  max-width: 395px;
  width: 100%;
  font-size: 16px;
  line-height: 180%;
}

.service__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.service__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 0 16px;
  position: relative;
}

.service__card::after {
  position: absolute;
  content: "";
  right: -74px;
  top: 0;
  bottom: 0;
  width: 1px;
  height: 100%;
  background: #fff;
}

.service__card:last-child::after {
  content: none;
}

.service__info {
  max-width: 243px;
}

.service__info-title {
  font-size: 20px;
  line-height: 23px;
  text-transform: capitalize;
  margin-bottom: 9px;
}

.service__info-text {
  font-size: 16px;
  line-height: 180%;
}

.card {
  padding: 55px 0;
  text-align: center;
  color: #fff;
}

.card__title {
  font-size: 36px;
  line-height: 41px;
  margin-bottom: 29px;
}

.card__subtitle {
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 72px;
}

.card__inner {
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 40px;
}

.card__item {
  max-width: 580px;
  min-height: 267px;
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 16px;
  padding: 24px 38px 32px 24px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.card__images {
  display: -ms-grid;
  display: grid;
  place-items: center;
  background: #fc3867;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.card__info {
  max-width: 400px;
  width: 100%;
  text-align: left;
}

.card__info-title {
  font-size: 24px;
  line-height: 28px;
  color: #000;
  margin-bottom: 24px;
}

.card__info-description {
  font-size: 18px;
  line-height: 160%;
  color: #272727;
}

.creative-work {
  padding: 55px 0;
  text-align: center;
  color: #fff;
}

.creative-work__title {
  font-size: 40px;
  line-height: 46px;
  margin-bottom: 18px;
}

.creative-work__subtitle {
  max-width: 417px;
  font-size: 14px;
  line-height: 24px;
  color: #999999;
  margin: 0 auto 56px;
}

.creative-work__inner {
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 24px;
}

.creative-work__item {
  border-radius: 12px;
  max-width: 588px;
  min-height: 320px;
  overflow: hidden;
}

.creative-work__item:hover .creative-work__img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.creative-work__img {
  width: 588px;
  height: 320px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.price {
  padding: 55px 0 172px;
  text-align: center;
  color: #fff;
}

.price__title {
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 16px;
}

.price__subtitle {
  max-width: 484px;
  font-size: 40px;
  line-height: 50px;
  margin: 0 auto 71px;
}

.price__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0 40px;
}

.price__card {
  max-width: 300px;
  width: 100%;
  min-height: 450px;
  background: #fff;
  border-radius: 12px;
  padding: 52px 24px 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.price__card-title {
  font-size: 20px;
  line-height: 23px;
  color: #000;
  margin-bottom: 21px;
}

.price__pricing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  font-size: 48px;
  line-height: 55px;
  color: #000;
  margin-bottom: 24px;
}

.price__pricing span {
  font-size: 16px;
  line-height: 18px;
}

.price__item + .price__item {
  margin-top: 16px;
}

.price__item {
  font-size: 14px;
  line-height: 16px;
  color: #272727;
  padding-left: 24px;
  position: relative;
  text-align: left;
}

.price__item::before {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  left: 0;
  top: 0;
  background: url("../img/icons/check.svg");
}

.price__button {
  border: 1px solid #272727;
  border-radius: 50px;
  font-size: 14px;
  line-height: 30px;
  color: #272727;
  padding: 12px 45px;
  background: transparent;
  margin: auto auto 0;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.price__button:hover {
  background: #fc3867;
  color: #ececec;
}

.subscribe {
  background: #fff;
  text-align: center;
  padding: 40px 0;
}

.subscribe__subtitle {
  font-family: "Cerebri Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #c4c4c4;
  margin-bottom: 12px;
}

.subscribe__title {
  font-size: 40px;
  line-height: 64px;
  color: #212226;
  margin-bottom: 27px;
}

.subscribe__button {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2))), #fc3867;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #fc3867;
  border-radius: 87px;
  line-height: 180%;
  color: #fff;
}

.footer {
  background: #070707;
}

.footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 55px 0 40px;
  border-bottom: 1px solid rgba(196, 196, 196, 0.5);
}

.footer-top__card {
  max-width: 318px;
  width: 100%;
}

.footer-top__logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-top__text {
  font-size: 14px;
  line-height: 24px;
  color: #c4c4c4;
}

.footer-top__nav {
  max-width: 748px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-top__title {
  font-size: 16px;
  line-height: 18px;
  color: #fff;
  margin-bottom: 26px;
}

.footer-top__link {
  display: inline-block;
  font-size: 14px;
  line-height: 16px;
  color: #c4c4c4;
}

.footer-top__link + .footer-top__link {
  margin-top: 26px;
}

.footer-bottom {
  text-align: center;
  padding: 32px 0 34px;
}

.footer-bottom__copyright {
  font-size: 14px;
  line-height: 16px;
  color: rgba(196, 196, 196, 0.5);
}

@media (max-width: 1440px) {
  .header-content__inner {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 1350px) {
  .creative-work__inner {
    max-width: 1170px;
    padding: 0 15px;
  }
  .creative-work__item {
    max-width: 540px;
  }
  .creative-work__img {
    width: 540px;
  }
}

@media (max-width: 1250px) {
  .card__inner {
    max-width: 1160px;
    gap: 20px 0px;
    padding: 0 15px;
  }
  .card__item {
    max-width: 100%;
    padding: 20px 20px 30px 15px;
  }
}

@media (max-width: 1100px) {
  .header-content__inner {
    gap: 0 20px;
  }
  .about {
    padding: 80px 0;
  }
  .service {
    padding: 75px 0 55px;
  }
  .service__card::after {
    right: -50px;
  }
  .card__item {
    max-width: 505px;
  }
  .card__info {
    max-width: 375px;
  }
  .price {
    padding: 55px 0 85px;
  }
  .price__subtitle {
    margin: 0 auto 60px;
  }
  .price__inner {
    gap: 0 25px;
  }
  .footer-top__item {
    text-align: center;
  }
}

@media (max-width: 1050px) {
  .service__card::after {
    right: -20px;
  }
  .card__item {
    max-width: 485px;
  }
  .card__info {
    max-width: 350px;
  }
}

@media (max-width: 1024px) {
  .creative-work__item {
    max-width: 475px;
  }
  .creative-work__img {
    width: 475px;
  }
}

@media (max-width: 1000px) {
  .service__card::after {
    display: none;
  }
  .card__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .card__images {
    width: 70px;
    height: 70px;
  }
  .creative-work__item {
    max-width: 445px;
  }
  .creative-work__img {
    width: 445px;
  }
  .price {
    padding: 55px 0;
  }
  .price__inner {
    gap: 15px 25px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .price__subtitle {
    margin: 0 auto 40px;
  }
}

@media (max-width: 950px) {
  .header-content__title {
    font-size: 48px;
    line-height: 65px;
  }
  .about {
    padding: 65px 0;
  }
  .service__inner {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 20px;
  }
  .card__item {
    max-width: 100%;
    width: 100%;
    min-height: auto;
  }
  .card__info {
    max-width: 700px;
  }
  .creative-work__title {
    padding: 0 15px;
  }
  .creative-work__subtitle {
    margin: 0 auto 40px;
    padding: 0 15px;
  }
  .creative-work__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .creative-work__item {
    max-width: 100%;
    width: 100%;
  }
  .creative-work__img {
    max-width: 100%;
    width: 100%;
    -o-object-position: center;
       object-position: center;
  }
  .footer-top {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 20px 0;
  }
  .footer-top__card {
    max-width: 100%;
    text-align: center;
  }
}

@media (max-width: 870px) {
  .header-nav {
    padding: 45px 0px;
  }
  .header-nav__list {
    gap: 0 35px;
  }
  .header-nav__register {
    margin-left: 35px;
  }
  .header-content__title {
    font-size: 45px;
    line-height: 65px;
  }
  .header-content img {
    width: 450px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .service__top {
    margin-bottom: 35px;
  }
  .service__title {
    font-size: 34px;
  }
}

@media (max-width: 830px) {
  .header-content img {
    width: 400px;
    height: 500px;
  }
  .service {
    padding: 55px 0;
  }
  .service__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .service__title {
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .header-nav__list {
    gap: 0 25px;
  }
  .header-nav__register {
    padding: 10px 25px;
  }
  .header-content__title {
    font-size: 45px;
    line-height: 55px;
  }
  .header-content__started {
    padding: 10px 25px;
  }
  .about {
    padding: 60px 0;
  }
  .about__item {
    max-width: 100%;
  }
  .about__number {
    font-size: 60px;
    line-height: 70px;
    margin-bottom: 15px;
  }
  .subscribe__title {
    font-size: 35px;
    line-height: 50px;
    margin-bottom: 20px;
  }
  .subscribe__button {
    padding: 10px 30px;
  }
}

@media (max-width: 740px) {
  .header-content img {
    width: 350px;
    height: 480px;
  }
  .service__title {
    max-width: 100%;
    font-size: 30px;
  }
}

@media (max-width: 700px) {
  .header-nav__info {
    display: none;
    display: block;
    position: fixed;
    inset: 0;
    background: #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 20px 0px;
    z-index: 5;
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
  }
  .header-nav__info--active {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .header-nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-nav__link {
    font-size: 27px;
    line-height: 40px;
  }
  .header-nav__register {
    margin-left: 0;
  }
  .header-nav__menu {
    display: block;
    z-index: 5;
  }
  .header-content__title {
    font-size: 40px;
    line-height: 50px;
  }
  .header-content__text {
    line-height: 30px;
  }
  .about {
    padding: 55px 0;
  }
  .about__inner {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 15px 0;
  }
  .about__item {
    max-width: 300px;
  }
  .about__item::after {
    content: none;
  }
  .price__inner {
    gap: 15px 10px;
  }
}

@media (max-width: 650px) {
  .header-content__title {
    font-size: 35px;
  }
  .header-content__title img {
    width: 300px;
    height: 435px;
  }
  .about {
    padding: 45px 0;
  }
  .about__number {
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 10px;
  }
  .service__inner {
    gap: 20px 5px;
  }
  .price__card {
    max-width: 275px;
    min-height: 425px;
    padding: 30px 15px;
  }
  .price__button {
    padding: 5px 30px;
  }
  .price__subtitle {
    font-size: 35px;
  }
  .subscribe__title {
    font-size: 30px;
  }
  .subscribe__subtitle {
    margin-bottom: 0;
  }
  .footer-top__nav {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 35px;
  }
  .footer-top__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 255px;
    width: 100%;
  }
}

@media (max-width: 620px) {
  .header {
    height: 100vh;
  }
  .header-nav {
    padding: 35px 0px;
  }
  .header-content__inner {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: calc(100vh - 105px);
  }
  .header-content__info {
    max-width: 100%;
    text-align: center;
  }
  .header-content img {
    display: none;
  }
  .service__title {
    font-size: 26px;
  }
  .price__card {
    max-width: 255px;
  }
}

@media (max-width: 555px) {
  .service__title {
    font-size: 25px;
    text-align: center;
    line-height: 40px;
  }
  .service__description {
    max-width: 100%;
    text-align: center;
  }
  .subscribe__title {
    font-size: 26px;
  }
  .footer-top__nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-top__item {
    max-width: 200px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 450px) {
  .header-content__title {
    font-size: 30px;
  }
  .header-content__text {
    line-height: 25px;
  }
  .service {
    padding: 40px 0;
  }
  .creative-work {
    padding: 35px 0;
  }
  .creative-work__title {
    font-size: 36px;
  }
  .creative-work__item {
    min-height: 250px;
  }
  .creative-work__img {
    height: 250px;
  }
  .price__card {
    max-width: 100%;
  }
  .subscribe__title {
    font-size: 23px;
  }
  .footer-top__item {
    max-width: 175px;
  }
}

@media (max-width: 414px) {
  .header-nav__menu {
    position: fixed;
    top: 28px;
    right: 15px;
  }
  .header-nav__menu span {
    background: #991fe7;
  }
  .footer-top__item {
    max-width: 160px;
  }
}

@media (max-width: 390px) {
  .footer-top__item {
    max-width: 145px;
  }
}

@media (max-width: 375px) {
  .header-nav__menu {
    width: 40px;
    height: 30px;
  }
  .about {
    padding: 35px 0;
  }
  .service {
    padding: 30px 0;
  }
  .card__title {
    font-size: 30px;
    margin-bottom: 15px;
  }
  .card__images {
    margin-bottom: 15px;
  }
  .card__item {
    display: block;
  }
  .price {
    padding: 35px 0;
  }
  .price__subtitle {
    font-size: 30px;
    line-height: 40px;
  }
  .price__inner {
    gap: 15px 0;
  }
  .subscribe {
    padding: 30px 0;
  }
  .subscribe__title {
    line-height: 30px;
  }
  .subscribe__subtitle {
    margin-bottom: 10px;
  }
  .footer-bottom {
    padding: 25px 0;
  }
}

@media (max-width: 320px) {
  .header-content__title {
    font-size: 26px;
  }
  .card__title {
    font-size: 26px;
  }
  .card__subtitle {
    font-size: 20px;
    margin-bottom: 35px;
  }
  .card__info-title {
    font-size: 23px;
  }
  .price__subtitle {
    font-size: 25px;
    line-height: 35px;
  }
  .subscribe__button {
    padding: 5px 25px;
  }
  .footer-top__nav {
    gap: 20px 0;
  }
  .footer-top__item {
    max-width: 136px;
  }
}
/*# sourceMappingURL=style.css.map */