%dm-sans-500 {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
}

%ubuntu-400 {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 400;
}

%ubuntu-500 {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 500;
}

%ubuntu-700 {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 700;
}

%dm-sans-700 {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 700;
}
